<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.thousandsmiles.thousandsmileschart">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:authorities="${applicationId}.contentprovider"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.thousandsmiles.thousandsmileschart.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name="org.thousandsmiles.thousandsmileschart.LoginActivity"
            android:label="@string/app_name_full"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name="org.thousandsmiles.thousandsmileschart.StationActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name_full"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name="org.thousandsmiles.thousandsmileschart.PatientSelectorActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_patient_selector"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name="org.thousandsmiles.thousandsmileschart.StationSelectorActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_station_selector"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name="org.thousandsmiles.thousandsmileschart.SettingsActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_settings"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name="org.thousandsmiles.thousandsmileschart.SplashActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>